.controls{
    width: 80%;
    margin: auto;
}
.controls input{
    padding: 10px;
    outline: none;
    font-size: 15px;
    font-weight: 600;
}
.controls input:nth-of-type(1){
width: 50%;
}
.controls input:nth-of-type(2){
width: 30%;  
}
.controls input:nth-of-type(3){
width: 20%; 
cursor: pointer;
font-size: 15px;
background: none;
background-color: #222;
color: white;
}

@media (max-width : 1000px){
    .controls{
        width: 70%;
    }
}
@media (max-width : 600px){
    .controls input:nth-of-type(2) , 
    .controls input:nth-of-type(3){
        font-size: 12px;
    }

    .controls input:nth-of-type(3){
        font-size: 12px;
    }
}